PORT=3000

DATABASE_TYPE=mysql
# DATABASE_HOST=localhost
DATABASE_HOST=db # for docker
DATABASE_PORT=3306
MYSQL_USER=admin
MYSQL_PASSWORD=adminroot
MYSQL_DATABASE=dzen-test
MYSQL_ROOT_PASSWORD=adminroot
DATABASE_SYNCHRONIZE=true

# REDIS_HOST=localhost
REDIS_HOST=redis # for docker
REDIS_PORT=6379

JWT_SECRET=kardashian
RECAPTCHA_KEY_SERVICE=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe